<div class="basic-container">
  <mat-toolbar class="filters">
    <span>Dismissible filters go here...</span>
  </mat-toolbar>
  <mat-divider></mat-divider>
  <mat-toolbar class="refiners">
    <button mat-icon-button>
      <img src="../../assets/images/icons/assetSettingsButton.svg" alt="settings">
    </button>
    <mat-form-field floatLabel="never" class="driver-status-mat-form">
      <mat-select placeholder="Driver status" [formControl]="driverStatus">
        <mat-option value="">Driver status</mat-option>
        <mat-option value="active">Active</mat-option>
        <mat-option value="registration-vehicle">Registration Vehicle</mat-option>
        <mat-option value="registration-uploads">Registration Uploads</mat-option>
        <mat-option value="on-duty">On Duty</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-divider class="style-fix" [vertical]="true"></mat-divider>
    <span class="ratings-av-title">Rating range</span>
    <mat-form-field floatLabel="never" class="ratingsAv">
      <input autocomplete="off" [formControl]="ratingMin" matInput placeholder="" value="">
    </mat-form-field>
    <span class="rangeTo">to</span>
    <mat-form-field floatLabel="never" class="ratingsAv">
      <input autocomplete="off" [formControl]="ratingMax" matInput placeholder="" value="">
    </mat-form-field>
    <span class="spacer"></span>
    <mat-form-field floatLabel="never"  class="date-range">
      <input autocomplete="off" matInput placeholder="<<< click icon for date range" [satDatepicker]="picker" [formControl]="dateRange">
      <sat-datepicker #picker [rangeMode]="true"></sat-datepicker>
      <sat-datepicker-toggle matSuffix [for]="picker"></sat-datepicker-toggle>
    </mat-form-field>
    <mat-divider class="style-fix" [vertical]="true"></mat-divider>
    <span>You have {{driversCount}} drivers</span>
  </mat-toolbar>
</div>