<mat-sidenav-container fullscreen>
  <mat-sidenav #start>
    <mat-nav-list>
      <a mat-list-item routerLink="/">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </a>
      <a mat-list-item routerLink="/drivers-table-list">
        <mat-icon>library_books</mat-icon>
        <span>Drivers</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="start.open('mouse')">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>
  <ng-container>
    <router-outlet></router-outlet>
  </ng-container>
</mat-sidenav-container>